* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('photo.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.container {
  width: 100%;
  max-width: 400px;
  background: rgba(234, 115, 224, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 2rem;
  color: #f0becda7;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.form-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #f1ebef;
}

.input-group {
  
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group i {
  position: absolute;
  top: 35%;
  left: 15px;
  transform: translateY(-50%);
  color: #1c1a1acc;
  font-size: 16px;
  pointer-events: none;
}

.input-group input {
  width: 100%;
  padding: 12px 15px 12px 45px; 
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
  backdrop-filter: blur(10px);
}

.input-group input::placeholder {
  color: #f1cccc8c;
  opacity: 0.7;
}

.input-group label {
  font-size: 0.75rem;
  margin-left: 45px;
  margin-top: 3px;
  display: block;
  color: #f0d2d295;
}



.input-group input:focus {
  border: 1px solid #ff7eb9;
  background: rgba(255, 255, 255, 0.2);
}

label {
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}

.btn {
  width: 100%;
  padding: 12px;
  background-color:#ff7eb9;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background-color: #ff4e9b;
}

.or {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin: 1rem 0;
  font-size: 0.9rem;
}

.icons {
  text-align: center;
  margin-bottom: 1rem;
}

.icons i {
  font-size: 1.4rem;
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icons i:hover {
  transform: scale(1.2);
  color: #ff7eb9;
}

.account-text,
.links,
.recover {
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 0.8rem;
}

a {
  color: #add8e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .form-title {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 0.95rem;
  }
}
